.container-footer-fluido {
    background-color: $footer-bg-color;
    font-family: 'Roboto', sans-serif;
    
}

.social-media-items {
    display: flex;
    justify-content: space-around;
    
    .fab {
        color: gray;

        &:hover {
            color: #3f3f3f;
        }
    }
}


.footer-info {
    font-size: smaller;
}

.light-p {
    color: gray;
    
    a {
        text-decoration: none;
        color: $anchor-link-color-hover;
    }
}

.footer-lists {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    
    

    li {
        color: #252525;
        text-decoration: none;

        &:hover {
            background-color: rgb(184, 184, 184);
        }

        a {
            color: #252525;
            text-decoration: none;
            

            &:hover {
                color: $anchor-link-color-hover;
            }
        }
        
    }
}

.list3 {

    justify-content: flex-start;
    
}

.pet-image {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 15%;
    transition: 0.5s;
    transform-origin: center top;

    &:hover {
        transform: rotate(-3deg);
    }
}

.columnas-listas {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 990px) {
    .footer-lists a {
      font-size: smaller;
    }
  }

  @media only screen and (max-width: 320px) {
   .columnas-listas {
       flex-wrap: wrap;
       justify-content: flex-start;
   }

   .footer-lists {
           padding: 0;
        }
}



  .my-stuff-container-footer {
      background-color: white;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;

      
    .item-footer {

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 50px;
        

        .heart:hover {
            background-color: #ffa8a8;
            color: #ff3333; 
        }

        .horse:hover {
            background-color: #99c3bb;
            color: #19efc7;
        }

        .bookmark:hover {
            background-color: #6a76d1;
            color: #000be5;
        }

        .dots:hover {
            background-color: #777777;
        }
    }
  }