.contenedor-padre {
  background-color: #eef0f1;
}

.contenedor-estandar {
  position: relative;
}

.container-footer-fluido {
  background-color: #d3d6da;
  font-family: 'Roboto', sans-serif;
}

.container-footer-fluido .container-footer {
  height: 50%;
}

.social-media-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social-media-items .fab {
  color: gray;
}

.social-media-items .fab:hover {
  color: #3f3f3f;
}

.footer-info {
  font-size: smaller;
}

.light-p {
  color: gray;
}

.light-p a {
  text-decoration: none;
  color: #323ebe;
}

.footer-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.footer-lists li {
  color: #252525;
  text-decoration: none;
}

.footer-lists li:hover {
  background-color: #b8b8b8;
}

.footer-lists li a {
  color: #252525;
  text-decoration: none;
}

.footer-lists li a:hover {
  color: #323ebe;
}

.list3 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.pet-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  bottom: 15%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.pet-image:hover {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.columnas-listas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 990px) {
  .footer-lists a {
    font-size: smaller;
  }
}

@media only screen and (max-width: 320px) {
  .columnas-listas {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer-lists {
    padding: 0;
  }
}

.my-stuff-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.my-stuff-container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #202428;
}

.my-stuff-container .item .heart:hover {
  background-color: #ffa8a8;
  color: #ff3333;
}

.my-stuff-container .item .horse:hover {
  background-color: #99c3bb;
  color: #19efc7;
}

.my-stuff-container .item .bookmark:hover {
  background-color: #6a76d1;
  color: #000be5;
}

.my-stuff-container .item .dots:hover {
  background-color: #777777;
}
/*# sourceMappingURL=style.css.map */